.scroll-thumb {
  position: relative;
  background: $foreground-color-bar;
  transition: all 200ms ease-in-out 0s;
  transition-property: background;
}
.scroll-thumb:hover {
  background: $foreground-color-bar-hover;
}
.scroll-trough {
  position: absolute;
  width: $size-bar;
  bottom: 0;
  right: -8px;
  top: 0;
  transition: all 200ms ease-in-out 0s;
}
.scroll-trough:hover {
  background-color: $trough-hover-color;
}